{% extends 'base.html.twig' %}


{% block title %}Modifier un utilisateur | Fast & SumFurious{% endblock %}

{% block body %}
    <h1>Modifier un utilisateur</h1>
    {{ form(userForm) }}
{% endblock %}